*.covfee.db
*.workspace
annotation/www/artificial_examples
annotation/www/laughter_examples
annotation/www/*.js
*.log
*.pyc
**/*/lightning_logs
**/*/logs
**/*.ckpt
video/features
audio/features
