*.covfee.db
*.workspace
annotation/www/**/*.mp4
annotation/www/**/*.wav
annotation/www/**/*.jpg
annotation/www/*.js
*.log
*.pyc
**/*/lightning_logs
**/*/logs
**/*.ckpt
video/features
audio/features
